requests>=2.31.0
rdkit>=2023.9.1
biopython>=1.81
pandas>=2.0.0
numpy>=1.24.0
scipy>=1.11.0
meeko>=0.5.0
gemmi>=0.6.5
openbabel-wheel>=3.1.1
tqdm>=4.66.0
pyyaml>=6.0
pillow>=10.0.0
jupyterlab>=4.2.0
ipywidgets>=8.1.0
nvidia-cuda-runtime-cu12>=12.4
nvidia-cublas-cu12>=12.4
nvidia-cusparse-cu12>=12.3
nvidia-cusolver-cu12>=11.6
nvidia-curand-cu12>=10.3
nvidia-nvjitlink-cu12>=12.4
nvidia-nvtx-cu11==11.8.86
